@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    text-align: center;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'ImcreSoojin';
    font-size: 200%;
    color: #412AB7;
    background-color: #44DCC5;
    
}

h1{
    text-align: left;
    margin-left:2%;
    margin-top:2%;
    margin-bottom:5%;
    font-size: 70%;
    color: #ffff;

}


head{
    text-align: left;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input{
    /* margin: auto; */
    /* margin-left: 20%; */
    /* margin-right: 20%; */
    border: solid #412AB7;
    /* background-color: #412AB7; */
    opacity: 80%;
    /* float: middle; */
    
}



.set{
    /* border : solid blue 0.01em; */
    margin-top: 2%;
    margin-bottom: 5%;

}

.add{
    color: #ffff;
    background-color: #412AB7;
    border: solid #ffff;
    border-radius: 40px;
    padding-left: 2%;
    padding-right: 2%;

}

.friends{
    /* will change */
    color : #412AB7;
    background-color: #ffff;
    opacity: 80%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 2%;
    padding-right: 2%; 
    font-size: 150%;
    border : solid #412AB7;
    margin-bottom: 5%;
    border-radius: 40px;

}

/* will reveal when enter add friend btn */
.frn_list{

    background-color: #412AB7;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    color : #ffff;
    border-radius: 40px;
    padding-left: 2%;
    padding-right: 2%; 


    border : solid #ffff;
    
}

.done{
    color: #ffff;
    background-color: #412AB7;
    border: solid #ffff;
    border-radius: 40px;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 5%;
}

.eats_input{
    margin-top: 5%;
}

#eats_btn{
    color: #ffff;
    background-color: #412AB7;
    border: solid #ffff;
    border-radius: 40px;
    padding-left: 3%;
    padding-right: 3%;
}

.tax_btn{
    color: #ffff;
    background-color: #412AB7;
    border: solid #ffff;
    border-radius: 40px;
    padding-left: 3%;
    padding-right: 3%;
}

.tax_desc{
    margin-top: 5%;
    color: #ffff;
    /* opacity: 60%; */
    font-size: 10%;
    margin-left: 10%;
    margin-right: 10%;

}

.tip_btn{
    color: #ffff;
    background-color: #412AB7;
    border: solid #ffff;
    border-radius: 40px;
    padding-left: 3%;
    padding-right: 3%;
}

/* change with display none later! */
.asign{
    display: none; 
}


.radio_parents{
    margin-top : 3%;
    margin-left: 30%;
    margin-right: 30%;
    /* transform: translate(-50%, -50%); */
    text-align: left;
    /* margin : auto; */
}
.form-check{
    /* border : solid 0.03em; */
    background-color: aquamarine;
    border-radius: 3%;
    padding-left : 20%;
    padding-top : 5%;
    padding-bottom : 5%;


}

.tax{
    display: none;
}



/* reveal later */
.tip{
    display: none;
    
}


/* reveal later */
.result{
    display: none;
}

.result_show{
    color : #412AB7;
    background-color: #ffff;
    opacity: 80%;
    margin-left: 20%;
    margin-right: 20%;

    font-size: 150%;
    border : solid #412AB7;
    margin-bottom: 5%;
    border-radius: 40px;
}

.result_money{
    background-color: #412AB7;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    color : #ffff;
    border-radius: 40px;
    padding-left: 5%;
    padding-right: 5%; 
}